<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h1><%= @name %></h1>
 <h1><%= @coach %></h1>
 <h1><%= @pg %></h1>
 <h1><%= @sg %></h1>
 <h1><%= @pf %></h1>
 <h1><%= @sf %></h1>
 <h1><%= @c %></h1>


 </body>
</html>


